.body {
    margin: 0px;
    padding: 0px;
}

.card {
    width: 270px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease,
        box-shadow 0.3s ease;

}



.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}



.card_component {
    padding-top: 25px;
    padding-bottom: 25px;
    /* margin-left: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    border-radius: 8px;
    width: 80vw;
    height: auto;


    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    margin: 10px auto;

}



.heading-demo_task_page {
    width: 100vw;
    height: 45px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 0px;
    color: black;

}

.btn-login {
    background-color: white;
    color: #0b4fa4;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 8px;
    height: 37px;

    cursor: pointer;
    font-size: 20px;

    border: none;
    display: flex;
    align-items: center;

    justify-content: center;
    padding: 0 12px;

    gap: 1px;

}

.btn-container {
    margin-top: 10px;
    width: 91vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.btn-login svg {
    font-size: 21px;
}


.blue-card:hover {
    border: 2px solid white;
}

.white-card:hover {
    border: 2px solid #0b4fa4;
}




@media screen and (max-width: 1024px) {
    .card {
        width: 270px;
        height: 250px;

    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 270px;
        height: 250px;
    }

    .card_component {
        width: 90%;
        gap: 10px;
        padding: 15px;
    }

    .heading-demo_task_page {
        font-size: 22px;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 270px;
        height: 250px;
    }

    .card_component {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
        width: 90%;
    }

    .heading-demo_task_page {
        font-size: 22px;
    }
}

@media screen and (max-width: 320px) {
    .card {
        width: 200px;
        height: 230px;
    }

    .card_component {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 5px;
        width: 80%;
    }

    .heading-demo_task_page {
        font-size: 22px;
    }

}